.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.item {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    color: #564D4D;
    margin: 10px 0;
    transition: all 0.3s ease-in-out;
}

.item:hover{
    color: #FFFFFF;
    cursor: default;
    scale: 110%;
    transition: all 0.3s ease-in-out;
}